/** @format */

.customers-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
}
.customer-card {
  padding: 15px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.customer-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 768px) {
  .customers-list {
    grid-template-columns: auto;
  }
}
